.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(20, 150, 133);
}

.main{
   padding:30px;
   background-color: white;
   border-radius: 10px;

}

header img{
    height: 100%;
    width: 100%;
}

.elmt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elmt input{
    margin-left: 10px;
    padding:2px;
}



.elmt select:hover{
    cursor: pointer;
}

.elmt select{
    padding:2px;
    margin-left: 10px;
}

.subm{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    border: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(85, 41, 41);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border:2px solid rgb(0, 45, 77);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    }
    .subm:hover {
    cursor:pointer;
    color:rgb(255, 255, 255);
    background-color: rgb(85, 41, 41);
    border:2px solid rgb(255, 255, 255);
    }

h1{
    font-family: 'Open Sans';
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
}

.header{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.header h1{
    color:rgb(83, 21, 21);
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    border-radius: 10px;
    border-radius: 10px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box{
    width: 700px;
    margin-top:50px; 
}

.episode-title{
    font-family: 'Kanit', sans-serif;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
}

.ital { 
    font-family: 'Montserrat', sans-serif;

}