.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(20, 150, 133);
}

.homelink input{
    color: aqua;
}

img{
    height: 250px;
}

.homelink { 
    position: absolute;
    top: 20px;
    right: 20px;
    height: 35px;
    width: 85px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(6, 71, 78);
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 5px;
    border: 1px none rgb(48, 102, 99);
}

.homelink:hover{
    background-color: rgba(6, 71, 78, 0.416);
    color: white;
}

.game-list{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.title{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.facts{
    display: flex;
    flex-direction: row;
}

.tile2{
    margin-right:5px;
    padding:2px;
    background-color: rgba(220, 220, 220, 0.478);
    width: 50px;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tile2 p{
    padding:0px;
    margin:0px;
    text-align: center;
    font-size: 12px;
}

.tile2 h6{
    padding:0px;
    margin:0px;
    text-align: center;
    font-size: 12px;
}

.desc{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 9px;
}

.desc2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.tile{
    margin:5px;
    padding:15px;
    width:220px;
    display: flex;
    flex-direction: column;
    background-color: rgba(231, 231, 231, 0.329);
    box-shadow: 0 4px 8px 0 rgba(44, 17, 79, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.main{
   padding:30px;
   background-color: rgba(255, 255, 255, 0.498);
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:120px;
}

.test-style h1{
    color:rgb(48, 102, 99);
    
    font-size: 60px;
 }

.main  {

    background-color: rgba(255, 255, 255, 0.915);
}
 
header img{
    height: 100%;
    width: 100%;
}

.elmt{
    margin-top: 10px;
    display: flex;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elmt input{
    margin-left: 10px;
    padding:2px;
}

select{
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.elmt select:hover{
    cursor: pointer;
}

.elmt select{
    padding:2px;
    margin-left: 10px;
}

.subm{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(6, 71, 78);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(48, 102, 99);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    }
    .subm:hover {
    cursor:pointer;
    color:rgb(255, 255, 255);
    background-color:rgb(48, 102, 99);
    border:2px solid rgb(255, 255, 255);
    }

.center { 
    text-align: center;
}

h1{

    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color:rgb(48, 102, 99);
    margin-bottom: 0;
    margin-right: 3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    margin-top: 30px;
    text-align: center;
}

h5{

    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color:rgb(6, 82, 133);
    margin-bottom: 0;
    margin-right: 3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}


.input-box{

    background-color:rgba(255, 255, 255, 0.012);
    border:.3px solid rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
}



.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    font-weight: lighter;
    background-color:rgba(255, 255, 255, 0.199);
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin-left: 0px;
    font-size: 16px;
    border: none;
    border-bottom: solid rgb(15, 69, 102);
    outline: 0;
    padding: 5px;
}

#answer-box{
    width: 700px;
    margin-top:50px; 
}

.episode-title{
    font-family: 'Kanit', sans-serif;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
}

.ital { 
    font-family: 'Montserrat', sans-serif;

}

.hidden { 
    display: none;
}

.search-tile { 
    padding:15px;
    padding-bottom: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    width:500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(231, 231, 231, 0);
    box-shadow: 0 4px 8px 0 rgba(44, 17, 79, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);

    
}

.rel h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quersim { 
    padding-left: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(48, 102, 99);
    margin-top: 0px;
}



.more input {
    font-size: large;
    border: solid rgb(48, 102, 99);
    background-color: transparent;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(48, 102, 99);
    margin-top: 10px;
    border-radius: 5px;
}
.more input:hover {
    background-color: rgb(48, 102, 99);
    color: white;
    cursor: pointer;
}