<!doctype html>
<title>{% block title %}{% endblock %} - Board Game Matchers</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="header">
                <h1>Find A Boardgame</h1>
            </div>
            <form action = "{{url_for('home')}}" method="post">
                <div class="input-box" onclick="sendFocus()">
                    <input placeholder="Describe the kind of game you want to play" id="filter-text-val" name = "q">
                </div>

                <div class = "elmt">
                    <label for="ages">Age Range:</label> 
                    <select name="ages" id="age-id">  
                        <option value="">Select Age Range</option>  
                        <option value="2">2+</option>  
                        <option value="3">3+</option>  
                        <option value="4">4+</option>
                        <option value="5">5+</option>  
                        <option value="6">6+</option>  
                        <option value="8">8+</option>
                        <option value="10">10+</option>  
                        <option value="12">12+</option>  
                        <option value="14">14+</option>
                        <option value="18">18+</option>
                        <option value="21">21+</option>
                    </select>
                </div>
                <div class = "elmt">
                    <label for="length">Game Length:</label> 
                    <select name="length" id="length-id">  
                        <option value="">Select Game Length</option>  
                        <option value="30u">30 min and under</option>  
                        <option value="30-60">30-60 minutes</option>  
                        <option value="60-120">60-120 minutes</option>
                        <option value="120">120 minutes and over</option>  
                    </select>
                </div>
                <div class="elmt">
                    <label for="player-num">Enter number of players:</label> 
                    <input name = "player-num" type="number" min="1" max="12" value="1" class="slider" id="range-id">
                </div>
                <input class = "subm" type="submit" name="submit" value="Generate Games!" onclick="filterText()" />
            </form>
        </div>
        <div id="answer-box"></div>
    </div>

    <script>

        function answerBoxTemplate(title,titleDesc){
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
            </div>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
                
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.title,row.descr)
                document.getElementById("answer-box").appendChild(tempDiv)
            }));
        }
            
    </script>
</body>
</html>