<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Search </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
        <link rel="stylesheet" type="text/css" href="../static/style.css"> 
        <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">         
    </head>

    <body style = "background-image: url('https://cdn.pixabay.com/photo/2017/03/25/18/06/color-2174066__480.png');">
        

        <div>
            <form action = "{{url_for('home')}}" method="post">
                <input type="submit" name="gohome" value="Go Home"/>    
            </form>
        </div>
        <div class = "main two">
        <h5>
            Refine your search results by reviewing these games:
        </h5>

        </h1>
        <label for="file">Refining progress:</label>
        <progress id="file" value="50" max="100"> 50% </progress>

        <!--Pull top three games-->
        <div class = search-tile>
            
            {% for table in tables[:3] %}
                <h2 class = "ital">{{table.0}}</h2>
                <p class = "ital">{{table.1}}</p>               
                <form action = "{{url_for('home')}}" method="post">
                <input class = 'hidden' value = '{{tables}}' name = 'tunnel' id = 'tunnel'>
                <div class="button-group" role="group" aria-labelledby="rel">
                <div id="rel">How Relevant Is This Game To Your Search?</div>

                <label for="radio1">Relevant:</label>
                <input type = "radio" id="radio1" name='rele{{table.0}}' value="Relevant" >
                <label for="radio2">Irrelevant:</label>
                <input type = "radio" id="radio2" name='rele{{table.0}}' value="Irrelevant">
            </div>

            {% endfor %}     
            <input class = "subm" type="submit" id = "filter-link" name="relevant" value="Submit" onclick="filterText()" />    
            </form>                  
        </div>

    </div>

    </body>

    <script>
        function twoStep(){
            document.getElementById('tunnel').focus()
            console.log("")
            fetch("/catalogue")
        }
    </script>